-f https://download.pytorch.org/whl/torch_stable.html
git+https://github.com/CompVis/taming-transformers
git+https://github.com/openai/CLIP
torch==1.8.0+cu111
torchvision==0.9.0+cu111
torchaudio==0.8.0
omegaconf
pytorch-lightning
tqdm
regex
kornia
ftfy
pillow==7.1.2
imageio-ffmpeg==0.2.0
ipykernel
imageio
ipywidgets
streamlit
ffmpeg
pyyaml
flask
einops
transformers
