pytorch==1.8.1
torchvision==0.9.1
torchaudio==0.8.1
cudatoolkit==10.2
omegaconf
pytorch-lightning
tqdm
regex
kornia
ftfy
pillow=7.1.2
python=3.8
imageio-ffmpeg==0.2.0
ipykernel
imageio
ipywidgets
streamlit
ffmpeg
pyyaml
flask
einops
transformers
